#footer {
	font-size: 12px;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	text-shadow: 0 1px #fff;
	position: absolute;
	bottom: 0px;
	opacity: 0.9;
	width: 100%;
	text-align: center;
	.outer{
		padding: 0 30px;
	}
}
.footer-left{
  float: left;
}
.footer-center{
	float: left;
}